html {
	margin: 0;
	padding: 0;
}

body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background: #fff url(webbg.png); 
	background-size: cover;
	background-attachment: fixed;
	margin: 0; 
	padding: 0;
}

p { 
	margin-top: 0; 
	text-align: justify;
}

h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 2px; 
	color: #cccc00;
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
}

a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
}

a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
}

footer { 
	text-align: center; 
}

footer a:link, footer a:visited { 
	margin-right: 20px; 
}

#menu {
	background-color: #700000;
	color: white;
	float: left;
	width: 205px;
	margin-left: 30px;
	margin-top: 50px;
	padding: 5px;
	height: 400px;
	position: fixed;
}

#content {
	float: left;
	width: 700px;
	margin-left: 285px;
	margin-top: 50px;
	background-color: #700000;
	padding: 10px;
	margin-bottom: 20px;
	color: white;
}

.navlinks {
	margin-left: 5px;
}

#welcome {
	color: #cccc00;
	font-size: large;
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
}